<div class="app-wrapper">
    <mat-progress-bar [color]="'accent'" mode="indeterminate" *ngIf="loading" ></mat-progress-bar>
    <mat-form-field [appearance]="'outline'" [subscriptSizing]="'dynamic'">
        <input type="text"
               matInput
               class="username-input"
               [formControl]="usernameSearchInput"
               [autocomplete]="'off'"
               [placeholder]="'Search github users'" />
            <mat-icon *ngIf="!usernameSearchInput.value" matSuffix>search</mat-icon>
            <button *ngIf="usernameSearchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearData()">
                <mat-icon>close</mat-icon>
            </button>
        <mat-error *ngIf="usernameSearchInput.hasError('required')">
            Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!usernameSearchInput.hasError('required') && usernameSearchInput.hasError('pattern')">
            Username may only contain alphanumeric characters or single hyphens, and cannot begin or end with a hyphen
        </mat-error>
    </mat-form-field>
    <ng-container *ngIf="alert.show">
        <div class="alert {{alert.type}}" [innerHTML]="alert.message"></div>
    </ng-container>
    <div class="user-details">
        <app-user-info></app-user-info>
        <app-user-gists></app-user-gists>
    </div>
</div>
